* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Roboto', sans-serif;
}
.nav{
  height: 70px;
  width: 100%;
  background-color:#e4e4e4;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}
.nav ul {
  display: flex;
  justify-content:space-around;
  line-height: 65px;
  list-style: none;
  font-size: 20px;
}
.nav a {
  text-decoration: none;
  color: grey;
}
.nav ul li a:hover{
  color: black;
}
.nav .nav-sinistra ul li:first-child a{
  color: black;
}

.nav-sinistra {
  height: 100%;
  width: 200px;
  /* background: orange; */
}
.nav-destra {
  height: 100%;
  width: 200px;
  /* background: orange; */
}

.seconda-nav {
  height: 70px;
  width: 100%;
  /* background-color: lightblue; */
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  margin-top: 20px;
}

/* parte della seconda navbar */
.mod-width{
  width: 70%;
}
.seconda-nav ul {
  display: flex;
  justify-content:space-between;
  line-height: 65px;
  list-style: none;
  font-size: 20px;
}
.seconda-nav a {
  text-decoration: none;
  color: grey;
}
.seconda-nav h2 {
  line-height: 70px;
  font-weight: lighter;
  font-size: 50px;
  font-family: 'Teko', sans-serif;
  color: #1d1d1d;
}
.seconda-nav .nav-destra a {
  font-size: 20px;
  line-height: 65px;
  color: white;
  background-color: black;
  padding:10px 10px;
  border-radius: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.seconda-nav .nav-destra a:hover{
  background-color:#373737;
  transition-duration:0.1s;
}

.p-dropdown{
  position: relative;
}
.dropdown{
  position:absolute;
  border-radius: 4px;
  top:55px;
  right:-95px;
  filter: drop-shadow(4px 4px 6px #707070);
  display: none;
}
.ul-dropdown{
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
/* modifiche delle larghezze dei dropdown rispetto al contenuto */
#mod-width-risparmi{
  width: 351px;
  right: -80px;
}
#mod-width-controllo{
  width: 165px;
  right: -45px;
}
#mod-width-altro{
  width: 265px;
  right: -110px;
}
#mod-width-plans{
  width: 130px;
  right: -45px;
}

.nav-icone{
  width: 250px;
  /* height: 400px; */
  background-color: white;
  padding: 15px;
}

.nav-sinistra .p-dropdown a:hover{
  color: black;
}

/* parte centrale del main */

main{
  display: flex;
  width: 85%;
  margin: 0 auto;
}
.titolo-testo{
  margin-top: 100px;
  width: 50%;
  /* background-color: lightblue; */
  padding: 0 50px;

}
.titolo-testo h1{
  font-size: 70px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.titolo-testo p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
.jumbotron{
  width: 50%;
  margin-top: 45px;
  text-align: center;
}
.jumbotron img {
  width: 500px;
  height: auto;
}
.form-phone{
  margin-left: 50px;
  margin-top: 30px;
}
.numero-p{
  border: 0;
  border-bottom: 1px solid grey;
  width: 30px;
  margin-right: 10px;
}
.phone-n{
  border: 0;
  border-bottom: 1px solid grey;
}
.btn{
  margin-left: 10px;
  padding: 15px 40px;
  border-radius: 15px;
  background-color: #3e3e3e;
  color: white;
  font-size: 15px;
}
